<% var data = {
  title: "Консалтинг"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__list-item"><a href="index.html" class="main-nav__list-link">Главная страница</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">О компании</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Реализованные проекты</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">FAQ</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Правила клуба</a></li>
    <li class="main-nav__list-item"><a href="consulting.html"
        class="main-nav__list-link main-nav__list-link--active">Консалтинг</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Стоимость услуг</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Как принять участие</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Контакты</a></li>
  </ul>
</nav>

<main class="consulting">
  <div class="consulting-wrap">
    <h1 class="title">Консалтинг</h1>
    <ul class="consulting-list">
      <li class="consulting-item">
        <h2>Консалтинг</h2>
        <p>	Имея большой опыт в ведении проектов на ближнем востоке, в средней азии, европе, странах СНГ и, конечно России мы можем предложить Вам услуги по управлению проектами различной степени сложности. В основном наши сотрудники имели опыт управления поставками, снабжением, строительными проектами. На сегодняшний день в управлении фонда находится ряд проектов общей суммой более 2 млрд.<br>
            В рамках управления проектами мы можем оказать услуги, как управляющего взяв на себя полный комплекс работы по ведению проектов, так и оказать консультационную деятельность привлекая связи со всего мира и всех континентов для снижения себестоимости и повышения эффективности ваших планов.</p>
      </li>
      <li class="consulting-item">
        <h2>Управление проектами</h2>
        <p>	Имея большой опыт в ведении проектов на ближнем востоке, в средней азии, европе, странах СНГ и, конечно России мы можем предложить Вам услуги по управлению проектами различной степени сложности. В основном наши сотрудники имели опыт управления поставками, снабжением, строительными проектами. На сегодняшний день в управлении фонда находится ряд проектов общей суммой более 2 млрд.<br>
            В рамках управления проектами мы можем оказать услуги, как управляющего взяв на себя полный комплекс работы по ведению проектов, так и оказать консультационную деятельность привлекая связи со всего мира и всех континентов для снижения себестоимости и повышения эффективности ваших планов.</p>
      </li>
      <li class="consulting-item">
        <h2>Агентская деятельность и лоббизм</h2>
        <p>	Имея большой опыт в ведении проектов на ближнем востоке, в средней азии, европе, странах СНГ и, конечно России мы можем предложить Вам услуги по управлению проектами различной степени сложности. В основном наши сотрудники имели опыт управления поставками, снабжением, строительными проектами. На сегодняшний день в управлении фонда находится ряд проектов общей суммой более 2 млрд.<br>
            В рамках управления проектами мы можем оказать услуги, как управляющего взяв на себя полный комплекс работы по ведению проектов, так и оказать консультационную деятельность привлекая связи со всего мира и всех континентов для снижения себестоимости и повышения эффективности ваших планов.</p>
      </li>
    </ul>
  </div>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>