<% var data = {
  title: "Контакты"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>

<main class="contacts">
  <div id="map"></div>
  <section class="contacts-sect">
    <div>
      <h2 class="contacts-title">Наши контакты</h2>
      <span class="contacts-desc">Спасибо за интерес к нашей компании</span>
      <p class="contacts-addr">
        199106, Россия, г. Санкт-Петербург<br>
        Большой проспект В.О.<br>
        дом 80, литера А<br>
        б/ц Сенатор<br>
      </p>
      <span class="contacts-tel">+7 (812) 493-44-84</span>
      <ul class="contacts-list">
        <li class="contakts-list__item"><a href="" class="contacts-list__link vk"></a></li>
        <li class="contakts-list__item"><a href="" class="contacts-list__link fb"></a></li>
        <li class="contakts-list__item"><a href="" class="contacts-list__link inst"></a></li>
        <li class="contakts-list__item"><a href="" class="contacts-list__link tw"></a></li>
      </ul>
    </div>
    <form class="contacts-form">
      <input name="name" type="text" class="form__name" placeholder="Ваше имя" required>
      <input name="email" type="email" class="form__mail" placeholder="E-Mail" required>
      <textarea name="message" id="" cols="30" rows="10" class="form__mess" placeholder="Сообщение" required></textarea>
      <button class="form__btn">Отправить<span class="form__btn-arrow"></span></button>
    </form>
  </section>
</main>

<script>
  var map;

  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {
        lat: 59.930054,
        lng: 30.254091
      },
      zoom: 15,
      disableDefaultUI: true,
      zoomControl: true,
      zoomControlOptions: {
        position: google.maps.ControlPosition.LEFT_BOTTOM
      },
      scrollwheel: false,
      draggable: !("ontouchend" in document),
      gestureHandling: 'cooperative',
      styles: [{
          "featureType": "all",
          "elementType": "labels.text.fill",
          "stylers": [{
              "saturation": 36
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 40
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.text.stroke",
          "stylers": [{
              "visibility": "on"
            },
            {
              "color": "#000000"
            },
            {
              "lightness": 16
            }
          ]
        },
        {
          "featureType": "all",
          "elementType": "labels.icon",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.fill",
          "stylers": [{
              "color": "#2a304f"
            },
            {
              "lightness": 20
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "geometry.stroke",
          "stylers": [{
              "color": "#000000"
            },
            {
              "lightness": 17
            },
            {
              "weight": 1.2
            }
          ]
        },
        {
          "featureType": "administrative",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#8e97b1"
          }]
        },
        {
          "featureType": "administrative.country",
          "elementType": "all",
          "stylers": [{
            "visibility": "on"
          }]
        },
        {
          "featureType": "landscape",
          "elementType": "all",
          "stylers": [{
              "visibility": "on"
            },
            {
              "hue": "#0026ff"
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry",
          "stylers": [{
              "color": "#000000"
            },
            {
              "lightness": 20
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "landscape",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#21253c"
          }]
        },
        {
          "featureType": "poi",
          "elementType": "geometry",
          "stylers": [{
              "color": "#000000"
            },
            {
              "lightness": 21
            }
          ]
        },
        {
          "featureType": "poi",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#2a304f"
          }]
        },
        {
          "featureType": "poi",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#8e97b1"
          }]
        },
        {
          "featureType": "road",
          "elementType": "geometry.fill",
          "stylers": [{
              "color": "#262b4a"
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "all",
          "stylers": [{
            "visibility": "on"
          }]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.fill",
          "stylers": [{
              "color": "#262b4a"
            },
            {
              "lightness": 17
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "geometry.stroke",
          "stylers": [{
              "color": "#000000"
            },
            {
              "lightness": 29
            },
            {
              "weight": 0.2
            }
          ]
        },
        {
          "featureType": "road.highway",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#8e97b1"
          }]
        },
        {
          "featureType": "road.arterial",
          "elementType": "all",
          "stylers": [{
              "saturation": "-100"
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry",
          "stylers": [{
              "color": "#000000"
            },
            {
              "lightness": 18
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry.fill",
          "stylers": [{
              "color": "#262b4a"
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "geometry.stroke",
          "stylers": [{
            "saturation": "-100"
          }]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels.text",
          "stylers": [{
              "hue": "#ff0000"
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "road.arterial",
          "elementType": "labels.text.fill",
          "stylers": [{
            "color": "#8e97b1"
          }]
        },
        {
          "featureType": "road.local",
          "elementType": "all",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry",
          "stylers": [{
              "color": "#000000"
            },
            {
              "lightness": 16
            },
            {
              "saturation": "0"
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#262b4a"
          }]
        },
        {
          "featureType": "road.local",
          "elementType": "geometry.stroke",
          "stylers": [{
            "visibility": "off"
          }]
        },
        {
          "featureType": "transit",
          "elementType": "geometry",
          "stylers": [{
              "color": "#000000"
            },
            {
              "lightness": 19
            },
            {
              "visibility": "on"
            }
          ]
        },
        {
          "featureType": "transit",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#262b4a"
          }]
        },
        {
          "featureType": "water",
          "elementType": "geometry",
          "stylers": [{
              "color": "#0f252e"
            },
            {
              "lightness": 17
            }
          ]
        },
        {
          "featureType": "water",
          "elementType": "geometry.fill",
          "stylers": [{
            "color": "#191c2f"
          }]
        }
      ]
    });
    var marker = new google.maps.Marker({
      position: {
        lat: 59.930054,
        lng: 30.254091
      },
      map: map,
      icon: 'img/mark.png'
    });
  };
</script>
<script async defer
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAt_oJG1Ajcmf8BAKoPF40P2Uiad0k4V_Q&callback=initMap"
  type="text/javascript"></script>
<%= _.template(require('./../includes/footer.html'))(data) %>