<% var data = {
  title: "FAQ"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__list-item"><a href="about.html" class="main-nav__list-link">О компании</a></li>
    <li class="main-nav__list-item"><a href="faq.html" class="main-nav__list-link main-nav__list-link--active">FAQ</a>
    </li>
    <li class="main-nav__list-item"><a href="consulting.html" class="main-nav__list-link">Консалтинг</a></li>
    <li class="main-nav__list-item"><a href="join.html" class="main-nav__list-link">Как принять участие</a></li>
    <li class="main-nav__list-item"><a href="contacts.html" class="main-nav__list-link">Контакты</a></li>
  </ul>
</nav>

<main class="faq">
  <div class="faq-wrap">
    <h1 class="title">FAQ</h1>
    <ul class="faq-list scrollbar-rail">
      <li class="faq-item">
        <h2>От кого лучше осуществлять вложения ?</h2>
        <div>
          <span>Вкачестве гаранта мы можем предложить три основных принципа нашего фонда:</span>
          <p>В любой предлагаемый проект мы вкладываем наравне с привлечёнными и собственные средства, а следовательно,
            и
            рискуем вместе с вами. Если по тем или иным причинам средства собственников фонда вкладываться не будут вам
            будет об этом объявлено до начала проекта и объяснены причины.</p>
          <p>Команда профессионалов, которые уже много лет занимаются бизнесом и работают в реальном секторе, а
            следовательно это не безумные молодые теоретики, а сухие и прагматичные практики</p>
          <p>Мы стараемся избегать вложений в необеспеченные проекты. Мы требуем от наших партнёров прозрачности и
            гарантий
            обеспечения возврата вложений. Это может быть залог имущества, ценные бумаги или право требования по
            контракту.
            Конечно, при ряде вложений или проектов мы можем обсудить и иные гарантии, но они уже будут обсуждаться
            индивидуально.
          </p>
        </div>
      </li>
      <li class="faq-item">
          <h2>Какая у меня будет доходность ?</h2>
          <div>
            <span>Вкачестве гаранта мы можем предложить три основных принципа нашего фонда:</span>
            <p>В любой предлагаемый проект мы вкладываем наравне с привлечёнными и собственные средства, а следовательно,
              и
              рискуем вместе с вами. Если по тем или иным причинам средства собственников фонда вкладываться не будут вам
              будет об этом объявлено до начала проекта и объяснены причины.</p>
            <p>Команда профессионалов, которые уже много лет занимаются бизнесом и работают в реальном секторе, а
              следовательно это не безумные молодые теоретики, а сухие и прагматичные практики</p>
            <p>Мы стараемся избегать вложений в необеспеченные проекты. Мы требуем от наших партнёров прозрачности и
              гарантий
              обеспечения возврата вложений. Это может быть залог имущества, ценные бумаги или право требования по
              контракту.
              Конечно, при ряде вложений или проектов мы можем обсудить и иные гарантии, но они уже будут обсуждаться
              индивидуально.
            </p>
          </div>
      </li>
      <li class="faq-item">
          <h2>Какие гарантии безопасности вложений ?</h2>
          <div>
            <span>Вкачестве гаранта мы можем предложить три основных принципа нашего фонда:</span>
            <p>В любой предлагаемый проект мы вкладываем наравне с привлечёнными и собственные средства, а следовательно,
              и
              рискуем вместе с вами. Если по тем или иным причинам средства собственников фонда вкладываться не будут вам
              будет об этом объявлено до начала проекта и объяснены причины.</p>
            <p>Команда профессионалов, которые уже много лет занимаются бизнесом и работают в реальном секторе, а
              следовательно это не безумные молодые теоретики, а сухие и прагматичные практики</p>
            <p>Мы стараемся избегать вложений в необеспеченные проекты. Мы требуем от наших партнёров прозрачности и
              гарантий
              обеспечения возврата вложений. Это может быть залог имущества, ценные бумаги или право требования по
              контракту.
              Конечно, при ряде вложений или проектов мы можем обсудить и иные гарантии, но они уже будут обсуждаться
              индивидуально.
            </p>
          </div>
      </li>
    </ul>
  </div>
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>