<% var data = {
  title: "Главная"
}; %>
<%= _.template(require('./../includes/header.html'))(data) %>
<nav class="main-nav">
  <ul class="main-nav__list">
    <li class="main-nav__list-item"><a href="index.html" class="main-nav__list-link main-nav__list-link--active">Главная страница</a></li>
    <li class="main-nav__list-item"><a href="about.html" class="main-nav__list-link">О компании</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Реализованные проекты</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">FAQ</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Правила клуба</a></li>
    <li class="main-nav__list-item"><a href="consulting.html" class="main-nav__list-link">Консалтинг</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Стоимость услуг</a></li>
    <li class="main-nav__list-item"><a href="" class="main-nav__list-link">Как принять участие</a></li>
    <li class="main-nav__list-item"><a href="contacts.html" class="main-nav__list-link">Контакты</a></li>
  </ul>
</nav>

<main class="index">
</main>

<%= _.template(require('./../includes/footer.html'))(data) %>