@media (max-width: 1280px) {
  .logo-vert {
    height: 400px;

    transform: translateY(-40%);
  }

  .header__nav-link {
    font-size: 26px;
  }

  .header__nav-list {
    width: 400px;
    margin-top: 100px;
    margin-left: 10%;
  }

  .menu-right__list {
    margin-top: 100px;
  }

  .menu-right__address {
    margin-bottom: 70px;
  }

  .contacts-sect {
    width: 450px;
  }

  .contacts-title {
    margin-top: 20px;

    font-size: 28px;
  }

  .contacts-addr {
    margin-top: 20px;
  }

  .contacts-list {
    margin-top: 20px;
  }

  .contacts-form {
    margin-top: 20px;
  }

  .form__mess {
    height: 60px;
  }

}

@media (max-width: 1366px) {
  .contacts-addr {
    margin-top: 20px;
  }

  .faq-list {
    max-height: 55vh !important;
  }

  .form__name,
  .form__mail {
    margin-bottom: 10px;
  }

  .form__mess {
    height: 100px;
  }

  .about-item {
    & .scroll-content {
      max-height: 25vh;
    }
  }
}

@media (max-width: 1440px) {

  .consulting-list,
  .about-list,
  .faq-list {
    width: 55%;
  }

  .title {
    font-size: 32px;
    top: 20px;
    right: 260px;
  }

  .about-item {
    & .scroll-content {
      max-height: 35vh;
    }
  }
}

@media (max-height: 600px) {

  .consulting-wrap,
  .about-wrap, .faq-wrap {
    height: auto;
    margin-top: 170px;
  }

  .consulting-list p {
    padding: 10px;
  }
}