//  vars

$anim: 0.2s all ease-in;

// mixins

@mixin bg-cover {
  content: '';

  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 2;

  background-color: #03010d;
  opacity: .9 ;
}

@mixin logo {
  position: fixed;
  z-index: 10;
  left: 50%;

  width: 249px;
  height: 149px;

  transform: translateX(-50%);
}

// fonts

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Light.woff') format('woff');
  font-weight: 300;
  font-style: light;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Lato';
  src: url('../fonts/Lato-Bold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}

// global

body {
  font-family: 'Lato';
  font-size: 16px;
  font-weight: 300;
  color: #ffffff;
}

.title{
  position: fixed;
  right: 100px;
  top: 100px;

  font-size: 45px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}


// imports

@import "reset";
@import "scroll";
@import "header";
@import "main-nav";
@import "index";
@import "consulting";
@import "contacts";
@import "about";
@import "faq";
@import "join";
@import "media";